@model IEnumerable<QLPhongTro.Models.DatPhongModel>

@{
    ViewBag.Title = "DatPhong";
}

<h2>Danh Sách Phòng Đã Đặt</h2>

<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.SoCMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.SoDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.Phong.LoaiPhong.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phong.LoaiPhong.GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.Ten)
        </td>
        <td>
            @(item.KhachHang.ngaySinh.HasValue ? item.KhachHang.ngaySinh.Value.ToString("dd/MM/yyyy") : " ")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.SoCMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.SoDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phong.TenPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phong.LoaiPhong.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phong.LoaiPhong.GiaTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.Ten)
        </td>
        <td>
            @(item.NgayDat.HasValue ? item.NgayDat.Value.ToString("dd/MM/yyyy") : " ")
        </td>
        <td>
            @Html.ActionLink("Trả Phòng", "traPhong", new { id=item.Id })
          
        </td>
    </tr>
}

</table>
